@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Welcome screen</h2>
        @*<ul>
            <li>Here we will click for table</li>
            <li>Here we will click for pie chart</li>
            <li>Here we will click for bar chart</li>
        </ul>*@
    </div>
  
</div>
